a.out
runtime/*.o
runtime/libpiccolort.a
runtime/libpiccolortdbg.a
cabal.sandbox.config
.cabal-sandbox
dist
.stack-work
doc/**/*.aux
doc/**/*.log
doc/**/*.out
doc/**/*.pdf
doc/**/*.toc
piccolo.log
runtime/doc
